<div>NEWSVIEW</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <input type="text" class="form-control" placeholder="RSS url" ng-model="$ctrl.feed">
      <button class="btn btn-default" type="button" ng-click="$ctrl.onUpdate()">Update</button>
    </div>
    <div class="col-md-4">
      <!--user-list on-select="$ctrl.onSelect(user)"></user-list-->
    </div>
    <!--div class="col-md-6">
      <mail-card data-email="$ctrl.email" data-showtext="true"></mail-card>
    </div-->
  </div>
</div>
